Package: spark-waydroid-runner
Version: 1.0.0
Architecture: all
Section: utils
Installed-Size: 2920
Maintainer: gfdgd xi <3025613752@qq.com>
Depends: python3, python3-tk, python3-pip, aapt, python3-setuptools, deepin-terminal | mate-terminal | gnome-terminal | xfce4-terminal, curl, python3-pil, python3-requests, adb, fonts-noto-cjk, python3-numpy, wget, inotify-tools, aria2, python3-pyqt5, python3-matplotlib, python3-urllib3
Recommends: waydroid
Priority: optional
Homepage: https://gitee.com/gfdgd-xi/waydroid-runner
Description: Waydroid 运行器
